h1 Solar Plan
a(href="/" class="ui-btn-left ui-btn ui-btn-inline ui-mini ui-corner-all ui-icon-home ui-btn-icon-notext") Home
= link_to "Edit", edit_plan_path(@plan), class: "ui-btn-right ui-btn ui-btn-inline ui-mini ui-corner-all ui-icon-edit ui-btn-icon-notext" 